name: EBookApplication
services:
  catalog-db:
    image: postgres:16-alpine
    container_name: catalog-db
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres